@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(../public/shopbag.avif) !important;
    background-size: 100% 200% !important;
}

.homepage {
  margin-top: 9em;
}

.get_started_button {
  font-family: 'Anton', sans-serif;
  margin-top: 20em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 8rem;

}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.start-searching-btn {
  position: relative;
  top: 3.5rem;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.0075em;

}
